<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="../../favicon.ico">

	<title>console</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- bootstrap datepicker -->
    <link id="bsdp-css" href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    
    <style type="text/css">
        .main-view{position:fixed;width:83.5%;height:98%;margin:0.5% 0.5% 0.5% 16%;padding:0.8% 0.8% 0.8% 1.2%;background:white;box-shadow:0 1px 2px 0 rgba(0,0,0,0.1)}
        .container-fluid .row{margin-top:2%;}
        .main-view-inner{margin:8% 2% 2% 6%;font-size:14px;width:400px;}
        .main-view-inner .key{width:80px;padding:0px;}
        .main-view-inner .value{width:200px;padding-left:0px;}

        .row-gutter{margin-top:5px;}
        .text-gutter{margin-top:5px;margin-bottom:5px;}
        .text-gutter-value{margin-top:5px;margin-bottom:5px;margin-left:10px;}
    </style>
    
</head>
<body class="global">

 <!-- 导航 -->
<include file="Public:nav" />
    
<div class="main-view">
        <div class="main-view-inner container-fluid">
            <div class="row">
                <div class="col-md-4 key row-gutter">学生姓名：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="张可多" aria-describedby="basic-addon1"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 key row-gutter">性别：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="男" aria-describedby="basic-addon1"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 key row-gutter">年级：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="小学五年级" aria-describedby="basic-addon1"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 key row-gutter">学校：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="徐州第一小学" aria-describedby="basic-addon1"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 key row-gutter">家长姓名：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="张大胖" aria-describedby="basic-addon1"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 key row-gutter">联系电话：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="13358746578" aria-describedby="basic-addon1"/></div>
            </div>
            <div class="row">
                <div class="col-md-4 key text-gutter">余额(元)：</div>
                <div class="col-md-4 value text-gutter-value">300.00</div>
            </div>
            <div class="row" style="margin-bottom:40px;">
                <div class="col-md-4 key row-gutter">充值(元)：</div>
                <div class="col-md-4 value"><input type="text" class="form-control" value="0.00" aria-describedby="basic-addon1"/></div>
            </div>

            <div class="row">
                <div class="col-md-4 key">课程名称：</div>
                <div class="col-md-4 value">新概念1-20160112-5人班</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">状态：</div>
                <div class="col-md-4 value">课程中</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">课次时长：</div>
                <div class="col-md-4 value">2小时/次</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">课次总计：</div>
                <div class="col-md-4 value">24次</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">费用总计：</div>
                <div class="col-md-4 value">4800元</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">课次剩余：</div>
                <div class="col-md-4 value">2次</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">费用剩余：</div>
                <div class="col-md-4 value">200元</div>
            </div>
            <div class="row">
                <div class="col-md-4 key">需缴费：</div>
                <div class="col-md-4 value">200元</div>
            </div>
    </div>

    


    
</div>


	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
        
    <script type="text/javascript">
		$('#navLoader').load("nav.html?"+new Date().getTime());
    </script>

    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            language: "zh-CN",
            autoclose: true
        });

		$('#editClass').click(function(){
			window.location.href="classdetail.html";
		});

    </script>
</body>
</html>
