<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="../../favicon.ico">

	<title>课程明细</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- bootstrap datepicker -->
    <link id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/Public/css/bootstrap/icheck/square.css" rel="stylesheet">
    
    <style type="text/css">
        .main-view{overflow-y:scroll;position:fixed;width:83.5%;height:98%;margin:0.5% 0.5% 0.5% 16%;padding:0.8% 0.8% 0.8% 1.2%;background:white;box-shadow:0 1px 2px 0 rgba(0,0,0,0.1)}
        .main-view-inner{margin:2% 6% 2% 2%;}
        .main-view-inner-bar{margin:2% 2% 2% 2%;}
        .class-detail-list{margin:2% 2% 2% 2%;}
        .class-detail-list .list-group{margin-bottom:0px}
        .class-detail-list .finished .list-group li{padding:10px;margin-top:5px;background-color:#339966;color:white;box-shadow:0 1px 2px 0 rgba(0,0,0,0.2)}
        .class-detail-list .finished .list-group li.cactive{background-color:#339966;color:white;}
        .class-detail-list .unfinished .list-group li{padding:10px;margin-top:5px;background-color:white;color:#339966;box-shadow:0 1px 2px 0 rgba(0,0,0,0.2)}
        .class-detail-list .unfinished .list-group li.cactive{background-color:#FF9933;color:white;}
        .cell-operation-gutter{margin-left:10%}
    </style>
    
</head>
 <body class="global">   
 <!-- 导航 -->
<include file="Public:nav" />

<div class="main-view">
    <div class="main-view-inner">
        <div class="main-view-inner-bar">
            <h3 style="display: inline-block;">{$classInfo[0].class_name}</h3><h4 style="margin:0px 0px 0px 20px;display: inline-block;"><span class="label" style="background-color: #333366;">{$classInfo[0].classtype_name}</span></h4>
        </div>
        <div class="class-detail-list">
            <div id="unplay" class="finished">
                <ul id="list1" class="list-group">
                <foreach name="classDetails" item="vo">
                  <if condition="strtotime($vo['date']) lt time()">
                  <li class="list-group-item container-fluid finished">
                    <div class="row text-center">
                        <div class="col-md-2" id="unplay_date_{$upnum}">{$vo.date}</div>
                        <div class="col-md-1" id="unplay_dayOfWeek_{$upnum}" value="{$vo.day_of_week}">
                            <if condition="$vo.day_of_week eq 1">
                                星期一
                            <elseif condition="$vo.day_of_week eq 2"/>
                                星期二
                            <elseif condition="$vo.day_of_week eq 3"/>
                                星期三
                            <elseif condition="$vo.day_of_week eq 4"/>
                                星期四
                            <elseif condition="$vo.day_of_week eq 5"/>
                                星期五
                            <elseif condition="$vo.day_of_week eq 6"/>
                                星期六
                            <else /> 
                                星期日
                            </if>
                        </div>
                        <div class="col-md-2" id="unplay_time_{$upnum}" startTime="{$vo.start_time}" endTime="{$vo.end_time}">{$vo.start_time}-{$vo.end_time}</div>
                        <div class="col-md-1" id="unplay_teacher_{$upnum}" value="{$vo.teacher_name}">{$vo.teacher_name}</div>
                        <div class="col-md-1" id="unplay_classroom_{$upnum}" value="{$vo.classroom_name}">{$vo.classroom_name}</div>
                        <div class="col-md-1">学生</div>
                        <div class="col-md-2">
                            <span style="cursor:pointer" class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="编辑" onclick="editClassDetail({$upnum++},{$vo.class_detail_id});"></span>
                            <span style="cursor:pointer" class="glyphicon glyphicon-trash cell-operation-gutter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="删除" onclick="deleteClassDetail({$vo.class_id},{$vo.class_detail_id});"></span>
                        </div>
                    </div>
                  </li>
                  </if>
                </foreach>
                </ul>
            </div>
            <div id="play" class="unfinished">
                <ul id="list1" class="list-group">
                <foreach name="classDetails" item="vo">
                  <if condition="strtotime($vo['date']) gt time()">
                  <li class="list-group-item">
                    <div class="row text-center">
                        <div class="col-md-2">{$vo.date}</div>
                        <div class="col-md-1">
                            <if condition="$vo.day_of_week eq 1">
                                星期一
                            <elseif condition="$vo.day_of_week eq 2"/>
                                星期二
                            <elseif condition="$vo.day_of_week eq 3"/>
                                星期三
                            <elseif condition="$vo.day_of_week eq 4"/>
                                星期四
                            <elseif condition="$vo.day_of_week eq 5"/>
                                星期五
                            <elseif condition="$vo.day_of_week eq 6"/>
                                星期六
                            <else /> 
                                星期日
                            </if>
                        </div>
                        <div class="col-md-2">{$vo.start_time}-{$vo.end_time}</div>
                        <div class="col-md-1">{$vo.teacher_name}</div>
                        <div class="col-md-1">{$vo.classroom_name}</div>
                        <div class="col-md-1">学生</div>
                        <div class="col-md-2">
                            <span style="cursor:pointer" class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="编辑" onclick="editClassDetail();"></span>
                            <span style="cursor:pointer" class="glyphicon glyphicon-trash cell-operation-gutter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="删除" onclick="deleteClassDetail({$vo.class_id},{$vo.class_detail_id});"></span>
                        </div>
                    </div>
                  </li>
                  </if>
                </foreach>
                </ul>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改课程信息</h4>
      </div>
      <div class="modal-body container-fluid">

        <div class="row">
            <div class="col-md-2">
                <label for="classname" class="control-label">课程日期:</label>
            </div>
            <div class="col-md-6">
                <input id="datepicker" type="text" class="input-sm form-control" name="date" value=""/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <label for="weekpicker" class="control-label">上课时间:</label>
            </div>
            <div class="col-md-10">
                <div class="dropdown" style="display: inline-block;">
                    <a style="text-decoration:none;" class="dropdown-toggle" data-toggle="dropdown" id="weekpicker" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span id="weekShow_0">选择星期</span>
                    </a>
                    <ul class="dropdown-menu week-picker" aria-labelledby="weekpicker">
                        <li class="week_0" week="1"><a href="#">星期一</a></li>
                        <li class="week_0" week="2"><a href="#">星期二</a></li>
                        <li class="week_0" week="3"><a href="#">星期三</a></li>
                        <li class="week_0" week="4"><a href="#">星期四</a></li>
                        <li class="week_0" week="5"><a href="#">星期五</a></li>
                        <li class="week_0" week="6"><a href="#">星期六</a></li>
                        <li class="week_0" week="7"><a href="#">星期日</a></li>
                    </ul>
                </div>
                  
                <div class="dropdown" style="display: inline-block;margin-left:10%;">
                    <a style="text-decoration:none;" class="dropdown-toggle" data-toggle="dropdown" id="starttimepicker" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span id="startTimeShow_0">开始时间</span>
                    </a>
                    <ul class="dropdown-menu time-picker" aria-labelledby="starttimepicker">
                        <li class="startTime_0"><a href="#">7:00</a></li>
                        <li class="startTime_0"><a href="#">7:30</a></li>
                        <li class="startTime_0"><a href="#">8:00</a></li>
                        <li class="startTime_0"><a href="#">8:30</a></li>
                        <li class="startTime_0"><a href="#">9:00</a></li>
                        <li class="startTime_0"><a href="#">9:30</a></li>
                        <li class="startTime_0"><a href="#">10:00</a></li>
                        <li class="startTime_0"><a href="#">10:30</a></li>
                        <li class="startTime_0"><a href="#">11:00</a></li>
                        <li class="startTime_0"><a href="#">11:30</a></li>
                        <li class="startTime_0"><a href="#">12:00</a></li>
                        <li class="startTime_0"><a href="#">12:30</a></li>
                        <li class="startTime_0"><a href="#">13:00</a></li>
                        <li class="startTime_0"><a href="#">13:30</a></li>
                        <li class="startTime_0"><a href="#">14:00</a></li>
                        <li class="startTime_0"><a href="#">14:30</a></li>
                        <li class="startTime_0"><a href="#">15:00</a></li>
                        <li class="startTime_0"><a href="#">15:30</a></li>
                        <li class="startTime_0"><a href="#">16:00</a></li>
                        <li class="startTime_0"><a href="#">16:30</a></li>
                        <li class="startTime_0"><a href="#">17:00</a></li>
                        <li class="startTime_0"><a href="#">17:30</a></li>
                        <li class="startTime_0"><a href="#">18:00</a></li>
                        <li class="startTime_0"><a href="#">18:30</a></li>
                        <li class="startTime_0"><a href="#">19:00</a></li>
                        <li class="startTime_0"><a href="#">19:30</a></li>
                        <li class="startTime_0"><a href="#">20:00</a></li>
                        <li class="startTime_0"><a href="#">20:30</a></li>
                        <li class="startTime_0"><a href="#">21:00</a></li>
                        <li class="startTime_0"><a href="#">21:30</a></li>
                        <li class="startTime_0"><a href="#">22:00</a></li>
                    </ul>
                </div>
                <span style="display: inline-block;">-</span>
                <div class="dropdown" style="display: inline-block;">
                    <a style="text-decoration:none;" class="dropdown-toggle" data-toggle="dropdown" id="endtimepicker" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span id="endTimeShow_0">结束时间</span>
                    </a>
                    <ul class="dropdown-menu time-picker" aria-labelledby="endtimepicker">
                        <li class="endTime_0"><a href="#">7:00</a></li>
                        <li class="endTime_0"><a href="#">7:30</a></li>
                        <li class="endTime_0"><a href="#">8:00</a></li>
                        <li class="endTime_0"><a href="#">8:30</a></li>
                        <li class="endTime_0"><a href="#">9:00</a></li>
                        <li class="endTime_0"><a href="#">9:30</a></li>
                        <li class="endTime_0"><a href="#">10:00</a></li>
                        <li class="endTime_0"><a href="#">10:30</a></li>
                        <li class="endTime_0"><a href="#">11:00</a></li>
                        <li class="endTime_0"><a href="#">11:30</a></li>
                        <li class="endTime_0"><a href="#">12:00</a></li>
                        <li class="endTime_0"><a href="#">12:30</a></li>
                        <li class="endTime_0"><a href="#">13:00</a></li>
                        <li class="endTime_0"><a href="#">13:30</a></li>
                        <li class="endTime_0"><a href="#">14:00</a></li>
                        <li class="endTime_0"><a href="#">14:30</a></li>
                        <li class="endTime_0"><a href="#">15:00</a></li>
                        <li class="endTime_0"><a href="#">15:30</a></li>
                        <li class="endTime_0"><a href="#">16:00</a></li>
                        <li class="endTime_0"><a href="#">16:30</a></li>
                        <li class="endTime_0"><a href="#">17:00</a></li>
                        <li class="endTime_0"><a href="#">17:30</a></li>
                        <li class="endTime_0"><a href="#">18:00</a></li>
                        <li class="endTime_0"><a href="#">18:30</a></li>
                        <li class="endTime_0"><a href="#">19:00</a></li>
                        <li class="endTime_0"><a href="#">19:30</a></li>
                        <li class="endTime_0"><a href="#">20:00</a></li>
                        <li class="endTime_0"><a href="#">20:30</a></li>
                        <li class="endTime_0"><a href="#">21:00</a></li>
                        <li class="endTime_0"><a href="#">21:30</a></li>
                        <li class="endTime_0"><a href="#">22:00</a></li>
                    </ul>
                </div>
                <span id="tooltip_del_0" style="margin-left:5%;" class="glyphicon glyphicon-trash remove-classtime" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="删除"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="teacher" class="control-label">教师:</label>
            </div>
            <div class="col-md-10">
                <foreach name="teacherList" item="vo" >
                    <input tabindex="{$tnum}" id="teacher_{$tnum++}" type="radio" name="teacher" value="{$vo.teacher_id}"><span class="radio-text">{$vo.name}</span>
                </foreach>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="classroom" class="control-label">教室:</label>
            </div>
            <div class="col-md-10">
                <foreach name="classroomList" item="vo" >
                    <input tabindex="{$clnum}" id="classroom_{$clnum++}" type="radio" name="classroom" value="{$vo.classroom_id}"><span class="radio-text">{$vo.name}</span>
                </foreach>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary edit-classdetail">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- YUI -->
    <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
    <script src="http://7xl53o.com1.z0.glb.clouddn.com/dingdingenglish/js/jquery.icheck.min.js"></script>
    <script src="/Public/js/class.js"></script>
    
    <script type="text/javascript">
	        $(function () {
			  $('[data-toggle="tooltip"]').tooltip()
			});

        YUI().use('dd-constrain', 'dd-proxy', 'dd-drop', function(Y) {
            //Listen for all drop:over events
            Y.DD.DDM.on('drop:over', function(e) {
                //Get a reference to our drag and drop nodes
                var drag = e.drag.get('node'),
                    drop = e.drop.get('node');
        
                //Are we dropping on a li node?
                if (drop.get('tagName').toLowerCase() === 'li') {
                    //Are we not going up?
                    if (!goingUp) {
                        drop = drop.get('nextSibling');
                    }
                    //Add the node to this list
                    e.drop.get('node').get('parentNode').insertBefore(drag, drop);
                    //Resize this nodes shim, so we can drop on it later.
                    e.drop.sizeShim();
                }
            });
            //Listen for all drag:drag events
            Y.DD.DDM.on('drag:drag', function(e) {
                //Get the last y point
                var y = e.target.lastXY[1];
                //is it greater than the lastY var?
                if (y < lastY) {
                    //We are going up
                    goingUp = true;
                } else {
                    //We are going down.
                    goingUp = false;
                }
                //Cache for next check
                lastY = y;
            });
            //Listen for all drag:start events
            Y.DD.DDM.on('drag:start', function(e) {
                //Get our drag object
                var drag = e.target;
                //Set some styles here
                drag.get('node').setStyle('opacity', '.25');
                drag.get('dragNode').set('innerHTML', drag.get('node').get('innerHTML'));
                drag.get('dragNode').setStyles({
                    opacity: '.5',
                    borderColor: drag.get('node').getStyle('borderColor'),
                    backgroundColor: drag.get('node').getStyle('backgroundColor')
                });
            });
            //Listen for a drag:end events
            Y.DD.DDM.on('drag:end', function(e) {
                var drag = e.target;
                //Put our styles back
                drag.get('node').setStyles({
                    visibility: '',
                    opacity: '1'
                });
            });
            //Listen for all drag:drophit events
            Y.DD.DDM.on('drag:drophit', function(e) {
                var drop = e.drop.get('node'),
                    drag = e.drag.get('node');
        
                //if we are not on an li, we must have been dropped on a ul
                if (drop.get('tagName').toLowerCase() !== 'li') {
                    if (!drop.contains(drag)) {
                        drop.appendChild(drag);
                    }
                }
            });
        
            //Static Vars
            var goingUp = false, lastY = 0;
        
            //Get the list of li's in the lists and make them draggable
            var lis = Y.Node.all('#play ul li');
            lis.each(function(v, k) {
                var dd = new Y.DD.Drag({
                    node: v,
                    target: {
                        padding: '0 0 0 20'
                    }
                }).plug(Y.Plugin.DDProxy, {
                    moveOnEnd: false
                }).plug(Y.Plugin.DDConstrained, {
                    constrain2node: '#play'
                });
            });
        
            //Create simple targets for the 2 lists.
            var uls = Y.Node.all('#play ul');
            uls.each(function(v, k) {
                var tar = new Y.DD.Drop({
                    node: v
                });
            });
        
        });
        
        $('#datepicker').datepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            language: "zh-CN",
            autoclose: true
        });

        $(document).ready(function(){
          $('input').iCheck({
            checkboxClass: 'icheckbox_square',
            radioClass: 'iradio_square',
            increaseArea: '20%' // optional
          });
        });
    </script>
</body>
</html>
